NODE_ENV=
POSTGRES_PORT=
REDIS_PORT=
DATABASE_URL=
REDIS_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
SIX_SYNC_CRON=
FACE_SERVICE_URL=
IOT_GATEWAY_PORT=
API_PORT=
WEB_PORT=
NEXT_PUBLIC_API_BASE_URL=
API_PROXY_TARGET=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_LECTURER_EMAIL=
SEED_LECTURER_PASSWORD=
